body{background-color: rgb(85, 172, 206);}


.navigation{
    width: 15em;
    background-color: blueviolet;
    float:left;
    
}
.article{
    background-color: rgb(189, 148, 228);
    margin-bottom: 2px;
    margin-left: 2px;
    padding: 2px;
    overflow: auto;
}
    
.down{
    background-color:rgb(111, 36, 180);
}

.img{float: right; width: 100px;;
}