.two, .dama, .nine, .tuz, .joker{
    width:140px;
    height:200px;
    background-image: url(cards.7e0a18f0.png);
    filter:grayscale(100%)
}

.two{position: absolute;
   float: left;  
}
.dama{position: absolute;
    margin: 0px 0px 0px 150px;
    float: left;
}
.nine{position: absolute;
    margin: 0px 0px 0px 300px;
    float: left;
}
.tuz{position: absolute;
    margin: 0px 0px 0px 450px;
    float: left;
}
.joker{position: absolute;
    margin: 0px 0px 0px 600px;
    float: left;
}