.chess {width: 450px;
	list-style: none;
}
.chess li {
	float: left;
	border: 3px solid rgb(14, 13, 13);
	margin: -1px -1px 0 0; 
	text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 50px;
    font-size:35px;
}

.chess li:nth-child(-n+8):nth-child(odd) {
	background: rgb(8, 8, 8);
    color: #ddd;
}
 
.chess li:nth-child(n+9):nth-child(-n+16):nth-child(even) {
	background: rgb(8, 8, 8);
    color: #ddd;
}
 
.chess li:nth-child(n+17):nth-child(-n+24):nth-child(odd) {
	background: rgb(8, 8, 8);
    color: #ddd;
}
.chess li:nth-child(n+25):nth-child(-n+32):nth-child(even) {
	background: rgb(8, 8, 8);
    color: #ddd;
}
.chess li:nth-child(n+33):nth-child(-n+40):nth-child(odd) {
	background: rgb(8, 8, 8);
    color: #ddd;
}

.chess li:nth-child(n+41):nth-child(-n+49):nth-child(even) {
	background: rgb(8, 8, 8);
    color: #ddd;
}
.chess li:nth-child(n+49):nth-child(-n+56):nth-child(odd) {
	background: rgb(8, 8, 8);
    color: #ddd;
}
.chess li:nth-child(n+57):nth-child(-n+64):nth-child(even) {
	background: rgb(8, 8, 8);
    color: #ddd;
}

ol { counter-reset: list 65;
    
}
li:before {
counter-increment: list -1;
content: counter(list) "";
}