.code {
    background-color: black;
    color:green;
    height: 5em;
    width: 400px;
    overflow-x:auto
}
.up{list-style-type:upper-roman;
    font-weight:bold;
}

.down{list-style-type:lower-roman; font-weight:normal ;

}