.two, .dama, .nine, .tuz, .joker{
    width:140px;
    height: 188px;
    background-image: url(cards.7e0a18f0.png);
    <!-- надо цвет менять или нет? filter:grayscale(100%) -->
}

.two{
    background-position: 140px 0px;
    float: left;
  
}
.dama{
    margin: 86px 0px 0px -58px;
    background-position: 0px 785px;
    float: left;
}
.nine{
    margin: 169px 0px 0px -47px;
    background-position: 282px 1183px;
    float: left;
}
.tuz{
    margin: 259px 0px 0px -60px;
    background-position: 422px 388px;
    float: left;
}
.joker{
    margin: 353px 0px 0px -64px;
    background-position: 282px 188px;
    float: left;
}