ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}

li{
    border: 3px solid rgb(15, 15, 15);
    border-radius: 10px;
}

.topmenu > li {
  display: inline-block;
  position: relative;
  background-color:rgb(184, 168, 168);
}

a {display: block;
  padding: 14px 27px 14px 18px;
  text-decoration: none;
  outline: none;
  color: rgb(45, 47, 49); 
}
a:hover{background-color:rgb(224, 208, 208);
  color: aliceblue;
  border-radius: 10px;
}

.fa {
  color: inherit;
  display: inline-block;
}

.submenu {
  overflow: hidden;
  position: absolute;
  height: 0;
}

.submenu>li{
    margin:1px 0px 0px 0px;
    background-color:rgb(184, 168, 168);
}

.topmenu:hover .submenu{
    overflow: hidden;
    transition: height 5s;
    height: 260px;
 }

 @media all and (max-width:700px){

  .topmenu > li {
      display: block;
      position: relative;
      background-color:rgb(184, 168, 168);
      width: 150px;
      }
  
  .topmenu li:hover .submenu {
      display: block;
      
      }
        
  .fa {
      color: inherit;
      display: block;
      }
  .submenu {
      display: none;
      position: absolute;
      top: 0%;
      left: 100%;
      width: 150px;
      }
        
  .topmenu ul li:hover >ul{
      display: block;
      }