
.jir {font-weight:bold; 

}
.kursiv {font-style: italic;

}
.right{text-align: right;
    
}
.pocherk {text-decoration:underline;font-family: 'Caveat', cursive; font-size: larger; text-indent: 5%;

}
.shrift{font-family: 'Caveat', cursive;font-size: larger;text-indent: 5%;

}
