
.flex{display: flex;
    background-color: rgb(224, 175, 236);
    align-items: flex-start;
}
.navigation{
    background-color: blueviolet;
    min-width: 15em;
    max-width: 15em;
    padding: 2px;
    margin-bottom: 2px;
  

}
.article{
    display: flex;
    flex-direction: column;
    padding: 2px;
    
    

}

.article2{
    background-color: rgb(189, 148, 228);
    margin-bottom: 2px;


   
}
    
.down{
    background-color:rgb(111, 36, 180);
    padding-bottom: 2px;
  
}

.img{float: right; width: 100px;;
}

